* {
    font-family: 'Dosis', sans-serif;
}

body {
    background: #f2f5f8 url("../images/crystal-background.jpg") no-repeat fixed top;
}

.main-content {
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
    box-shadow: 5px 10px 18px rgba(136, 136, 136, .2);
}

.header {
    color: white;
    background-color: #92b9db;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 40px;

}

.header h1 {
    font-weight: 700;
    font-size: 3.5em;
}

.instructions {
    background-color: #f2f5f8;
    padding: 20px;
    margin: 0 40px 40px 40px;
}

.btn-primary {
    background: none;
    border-color: #92b9db;
    color: #92b9db;
    border-radius: 0;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #92b9db; 
}

img {
    margin: 10px;
}

#winsDisplay, #LossDisplay, #scoreDisplay, #numberDisplay {
    padding: 20px;
    color: #fff;
    font-size: 2em;
}

#numberDisplay {
    background-color: #c5e9f2;
}

#scoreDisplay {
    background-color: #9ddeee;
}

#numberDisplay, #winsDisplay {
    margin: 40px 10px 40px 40px;
}

#scoreDisplay, #LossDisplay {
    margin: 40px 40px 40px 10px;
}

footer {
    background-color: #92b9db;
    height: 10px;
}

#winsDisplay {
    background-color: #fdc242;
}

#LossDisplay {
    background-color: #fbd47f;
}

.hide {
    display: hidden;
}